#Container{

    margin-top: 100px;
    /* border: 2px solid green; */

    /* height: 900px; */

    display: flex;
    justify-content: space-around;
}

#left{

    margin-left: 50px;

    /* border: 1px solid red; */

    width: 35%;
    
    /* height: 500px; */
    
}

#left > div:nth-child(1){
    margin-bottom: 20px;
}

#right{
    /* border: 1px solid red; */

    width: 30%;

    height: 500px;
    
}

   .checkout > h1{
    font-weight: lighter;
    font-size: 15px;
   }

   #right > p{
    font-size: 12px;
   } 

   #right > label{
    font-size: 12px;
   }
   
   #right > input{
    margin-top: 10px;
    width: 98%;
    height: 30px;

    border-radius: 0px;
    border: 1px solid black;
   }

   #right > button{
    margin-top: 20px;
    width: 100%;
    padding: 10px;

    border-radius: 0px;
    border: 1px solid black;
    color: white;
    background-color: black;
   }

#title{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    padding-left:100px;
    font-size: 12px;
    
    
}



#title  span{
    color: gray;
}

#items {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

#total {
    /* border: 1px solid red; */
    font-size: 12px;
}

#price {

    padding-left: 50px;
    font-size: 12px;
    display: flex;

    justify-content: space-between;
}

#shipping{
    padding-left: 50px;

    display: flex;

    justify-content: space-between;
}

#finalTotal{
    padding-left: 50px;

    display: flex;

    justify-content: space-between;
}


.card{
    /* border: 1px solid green; */
    /* height: 200px; */

    display: flex;
}

.item_Detail{
    /* border: 2px solid yellow; */
    /* height: 200px; */
    width: 60%;

    display: flex;
}

    .img_div{
        /* border: 1px solid teal; */
        /* height: 100%; */
        width: 30%;
    }

        img{
            width: 95%;
            margin-top: 10px;
        }

    .detail_div{
        /* border: 1px solid red; */
        /* height: 100%; */
        width: 70%;

        display: flex;
        flex-direction: column;

        justify-content: space-around;
    }

        .details_top{
            /* border: 1px solid blueviolet; */
            /* height: 50%; */

            font-size: 12px;
        }

            .detail_Size{
                border: 0px;
            }

            .detail_remain{
                color: gray;
            }

        .details_bottom{
            /* border: 1px solid blueviolet; */
            /* height: 50%; */

            font-size: 12px;
            display: flex;
            align-items: flex-end;
        }

.item_Price{
    /* border: 2px solid blue; */
    /* height: 200px; */
    width: 40%;
    font-size: 12px;
    padding-left: 50px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-end;
}

hr{
    width: 100%;
}

select{
    font-size: 12px;
}


    